body{
    background-color: rgb(206, 253, 184);
}

nav li{
    list-style: none;
    display: inline-block;
    padding: 4px 70px;
    background-color: green;
    text-align: center;
}

nav{
    text-align: center;
}

footer{
    text-align: center;

}
#regreso{
    color: rgb(22, 189, 189);
    text-decoration: none;
}
#regreso:hover{
    color: green;
}
#enlaces{
    font-size: 1.2em;
}
#enlaces a{
    color: rgb(202, 52, 52);
    text-decoration: none;
}
#enlaces a:hover{
    color: black;
}

h2{
    color: silver;
    text-align: center;
}
h1{
    text-align: center;
}

#Definición{
    color:blue;
}
#Origen{
    color:green;
}
#Difusión{
    color:red;
}

#contenido{
    margin:0 auto;
    width: 400px;
}

.apartado{
    text-align: center;
    width:400px;
    border:1px rgb(204, 22, 22) solid;
    border-radius:13px;
    background-color: white;
    padding:5px 5px 22px 5px;
}